@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');


:root {

    --line-border-fill: #3ca5eb;
    --line-border-empty: #e0e0e0e3;
}


*{
    box-sizing: border-box;
}  
body{
    background-color: rgb(237, 245, 242);
    font-family: 'Karla', sans-serif;
    display: flex;
    margin: 0;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
}
.container{
    text-align: center ;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}
.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}


.progress {
   
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4 ease;
}

.circle {
    background-color: #fff;
    color: rgb(27, 26, 26);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #e0e0e0;
    transition: 0.4s ease;

}

.circle.active {
    border-color: var(--line-border-fill);
    color: rgb(226, 11, 11);
} 


.btn {
background-color: var(--line-border-fill);
color: #fff;
border: 0;
border-radius: 6px;
cursor: pointer;
font-family: inherit;
padding: 8px 30px;
margin: 5px;
font-size: 14px;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}